$modal-background-color: #fff;
$modal-border-radius: 24px;
$modal-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.33);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 1344px;
  width: 1344px;
  margin: auto;
  border-radius: $modal-border-radius;
  box-shadow: $modal-box-shadow;
  background-color: $modal-background-color;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 48px;
  display: flex;
}

.ReactModalPortal {
  position: absolute;
  width: 100vw;
}